* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main {
    background-color: rgb(255, 192, 203);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel {
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    overflow: hidden;
}
#ptop {
    height: 100px;
    width: 100%;
    background-color: rgb(114, 45, 57);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20%;
}
.elem {
    display: flex;
    gap: 10px;
    align-items: center;
}
.elem h2 {
    font-size: 20px;
    color: #fff;
    line-height: 1;
}
.elem .box {
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    color: rgb(25 105 161);
}
#pbtm {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bubble {
    background-color: rgb(114, 45, 57);
    padding: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    transition: background-color .3s;
}
.bubble:hover {
    background-color: rgb(74, 22, 31);
}
.gmOver {
    text-align: center;
    font-size: 20px;
    color: rgb(114, 45, 57);
}